In [22]:
import numpy as np
import pandas as pd

In [6]:
lst = [2,3,4,5]

In [12]:
numpy_arr = np.array(lst)

In [13]:
numpy_arr

array([2, 3, 4, 5])

In [14]:
numpy_arr = np.array(lst)

In [15]:
numpy_arr.max()

5

In [17]:
numpy_arr.prod()

120

In [18]:
numpy_arr.std()

1.118033988749895

In [20]:
numpy_arr - 4

array([-2, -1,  0,  1])

In [21]:
users = [{"name": "Bob", "age": 24, "favorite_food": "ice cream"},
         {"name": "John", "age": 22, "favorite_food": "hummus"},
         {"name": "Mary", "age": None, "favorite_food": "chocolate"},
         {"name": "Michelle", "age": 27, "favorite_food": "pasta"},
         {"name": "Woody", "age": 47, "favorite_food": "nachos"},
         {"name": "Jorje", "age": 30, "favorite_food": "pita"},
         {"name": "John", "age": 12, "favorite_food": None}
        ]

In [26]:
df = pd.DataFrame(users)

In [27]:
df

       name   age favorite_food
0       Bob  24.0     ice cream
1      John  22.0        hummus
2      Mary   NaN     chocolate
3  Michelle  27.0         pasta
4     Woody  47.0        nachos
5     Jorje  30.0          pita
6      John  12.0          None

In [29]:
df.head(2)

   name   age favorite_food
0   Bob  24.0     ice cream
1  John  22.0        hummus

In [31]:
df.shape

(7, 3)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           7 non-null      object
 1   age            6 non-null      float64
 2   favorite_food  6 non-null      object
dtypes: float64(1), object(2)
memory usage: 296.0+ bytes

In [35]:
df.describe()

             age
count   6.000000
mean   27.000000
std    11.558547
min    12.000000
25%    22.500000
50%    25.500000
75%    29.250000
max    47.000000

In [36]:
df

       name   age favorite_food
0       Bob  24.0     ice cream
1      John  22.0        hummus
2      Mary   NaN     chocolate
3  Michelle  27.0         pasta
4     Woody  47.0        nachos
5     Jorje  30.0          pita
6      John  12.0          None

In [39]:
df['favorite_food']

0    ice cream
1       hummus
2    chocolate
3        pasta
4       nachos
5         pita
6         None
Name: favorite_food, dtype: object